a.logo {
    cursor: pointer;
    background-image: url('/assets/logo/logo-AI-6.png');
    background-size: 3.25rem;
    background-repeat: no-repeat;
    padding: 0 1.75rem;
    margin-left: 0;
}

a.logo:hover {
    cursor: pointer;
    background-image: url('/assets/logo/logo-AI-1.png') !important;
    background-size: 3.25rem;
    padding: 0 1.75rem;
    background-repeat: no-repeat;
}

a.logo-greatgulf {
  cursor: pointer;
  background-image: url('/assets/logo/gg-logo.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-greatgulf:hover {
  cursor: pointer;
  background-image: url('/assets/logo/logo-gg.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-okc {
  cursor: pointer;
  background-image: url('/assets/logo/okc-logo.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-okc:hover {
  cursor: pointer;
  background-image: url('/assets/logo/logo-okc.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-phh {
  cursor: pointer;
  background-image: url('/assets/logo/phh-logo.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-phh:hover {
  cursor: pointer;
  background-image: url('/assets/logo/logo-phh.png');
  background-size: 300px;
  width: 100%;
  height: 11.5rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-laphil {
  cursor: pointer;
  background-image: url('/assets/logo/laphil-logo.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-laphil:hover {
  cursor: pointer;
  background-image: url('/assets/logo/logo-laphil.png');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-rosswell {
  cursor: pointer;
  background-image: url('/assets/logo/rosswell-logo.jpg');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

a.logo-rosswell:hover {
  cursor: pointer;
  background-image: url('/assets/logo/logo-rosswell.jpg');
  background-size: 300px;
  width: 100%;
  height: 15rem;
  padding: 10rem 10rem 1rem 10rem;
  background-repeat: no-repeat;
}

.container.is-half-color {
    background: linear-gradient(to bottom, #3DA940, #fff);
}

.button.is-link.is-cta {
    border-radius: 100rem;
    background-color: #009ace;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}

.button.is-link.is-cta:hover {
    background-color: #147917;
}

.button.brand-green {
    color: #3DA940;
    font-weight: 600;
}

.subtitle.is-green {
  color: #3da940 !important;
}

a.button.brand-green:hover {
    background-color: #3DA940;
    color: #fff;
}

h2.is-white {
    color: #fff !important;
}

h2.is-green {
    color: #3DA940;
}

h1.title-white {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

h1.work-title-white {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin-top: -5rem;
  padding: 5rem;
}

h4.foot-title {
    font-weight: 600;
    color: #3DA940;
}

p.copy {
    color: #3DA940;
    font-size: .75rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-top: 2rem;
}

p.is-white {
    color: #fff;
}

p.is-green {
    color: #3da940;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.work-column-3 {
  margin: 0 5rem 5rem 5rem;
}

.box.contact {
    margin-bottom: 100px;
}

.foot-info {
    color: #3DA940;
}

.title.is-white {
    color: #fff !important;
}

.title.is-green {
    color: #3DA940 !important;
}

a.title-white {
    color: #fff;
    border-bottom: #fff solid 2px;
}

a.title-white:hover {
    color: #1769c8;
    border-bottom: #1769c8 solid 2px;
}

.mid-fix {
  margin-top: 50vh;
}

.top-fix {
  margin-top: 10vh;
}

.bottom-fix {
  margin-top: 80vh;
}

.hero-body.is-green {
    background-color: #3DA940;
    margin: 1rem;
    padding: 10rem 5rem;
}

.p-5 {
  padding: 5rem;
}

.m-2 {
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 5rem;
}

.mt-5 {
  margin-top: 20rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.mr-10 {
  margin-right: 10rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.bg-green {
  background-color: #3DA940 !important;
}

.bg-related {
  background-color: #fff;
  padding: 5rem 0;
}

.bg-image-landing-000 {
  background-image: url(/assets/images/landing-000.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -5rem !important;
  overflow: hidden !important;
}

.bg-image-serv-000 {
  background-image: url(/assets/images/services-000.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -5rem !important;
  overflow: hidden !important;
}

.bg-image-work {
  background-image: url(/assets/images/work-collage-1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -10rem !important;
  overflow: hidden !important;
}

.bg-image-cliniq {
  background-image: url(/assets/images/cliniq-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -10rem !important;
  overflow: hidden !important;
}

.bg-image-phh {
  background-image: url(/assets/images/phh-2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -10rem !important;
  overflow: hidden !important;
}

.bg-image-korie {
  background-image: url(/assets/images/korie-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -10rem !important;
  overflow: hidden !important;
}

.bg-image-bloorone {
  background-image: url(/assets/images/bloorone-4.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;
  display: relative;
  margin: -6.75rem -10rem -10rem -10rem !important;
  overflow: hidden !important;
}

.fullscreen-bg {
  display: block !important;
  overflow: hidden;
  z-index: -100;
  margin: -6.75rem -10rem -10rem -10rem !important;
}

.fullscreen-bg-service {
  display: relative !important;
  overflow: hidden;
  z-index: -100;
  height: 50vh;
  margin: 2rem 0 2rem 0 !important;
}

.fullscreen-bg__video {
  display: block !important;
  position: relative !important;
  width: 100vw !important;
  height: 80vh !important;
  margin: 0 1rem 0 0;
}

.fullscreen-bg__video-service {
  display: block !important;
  position: relative !important;
  width: 100vw !important;
  height: 50vh !important;
  margin: 0 1rem 0 0;
}

a.foot-link {
    color: #3DA940;
    font-weight: 500;
}

a.foot-link:hover {
    color: #1769c8;
}

.work-title {
  padding: 5rem 5rem 5rem 0;
}

.work-text {
  padding: 0 2rem 0 0;
}

/*
Font Awesome Icons
*/
.fa-html5, .fa-sitemap, .fa-css3, .fa-node-js, .fa-vuejs, .fa-android, .fa-aws,
.fa-apple, .fa-docker, .fa-gamepad, .fa-js, .fa-react, .fa-laravel, .fa-python, .fa-palette, .fa-code, .fa-pencil-ruler, .fa-rocket, .fa-tools
{
  font-size: 5rem;
  color: #fff;
}

.fa-chart-pie {
  font-size: 100px;
  color: #fff;
}

.fa-code {
  font-size: 2.5rem;
  color: #fff;
}

/*
Carousel
*/
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
* { box-sizing: border-box; }

.main-carousel {
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell img {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

/* carousel controller */
.flickity-button {
  background: #3da940;
}

.flickity-prev-next-button {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 5px;
}

.flickity-prev-next-button svg {
  fill: #147917 !important;
}
/* icon color */
.flickity-button-icon {
  fill: #147917 !important;
}

.flickity-page-dots {
  position: relative !important;
  display: flex;
  justify-content: center;
}

.flickity-page-dots .dot {
  background: #3DA940 !important;
}

/* position outside */

.flickity-prev-next-button.previous {
  display: flex !important;
  border: 1px solid #147917;
}

.flickity-prev-next-button.next {
  display: flex !important;
  border: 1px solid #147917;
}

.flickity-prev-next-button .arrow {
  fill: #147917 !important;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 50vw;
  }
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 374px) {
.fa-html5, .fa-sitemap, .fa-css3, .fa-node-js, .fa-vuejs, .fa-android, .fa-aws,
.fa-apple, .fa-docker, .fa-gamepad, .fa-js, .fa-react, .fa-laravel, .fa-python
{
  font-size: 3rem;
  color: #fff;
  margin: 2rem;
}

.fa-code {
  font-size: 2.5rem;
  color: #fff;
}

.mt-5 {
  margin-top: 1rem;
}

.main-carousel {
  padding: 0;
}

}
/*---- MOBILE----*/
@media only screen and (max-width: 780px) {
.fa-html5, .fa-sitemap, .fa-css3, .fa-node-js, .fa-vuejs, .fa-android, .fa-aws,
.fa-apple, .fa-docker, .fa-gamepad, .fa-js, .fa-react, .fa-laravel, .fa-python
{
  font-size: 3rem;
  color: #fff;
  margin: 1rem;
}

.fa-code {
  font-size: 2rem;
  color: #fff;
}

.work-title {
  padding-left: 5rem !important;
}

.work-text {
  padding: 0 !important;
}
}